%div
  .login_wrapper
    .animate.form.login_form
      %section.login_content
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          %img.login-logo-image{:src => image_path("Fieldwire_icon.svg")}/
          %h1 Login
          %div
            = f.text_field :email, autofocus: true, placeholder: "Email Address", required: true, class: "form-control"
          %div
            = f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control"
          %div
            = f.submit "Log in", class: "btn btn btn-success submit btn-login"
            .row
              .col-md-6.col-sm-6.col-xs-6.text-left
                .checkbox
                  %label
                    %input{:type => "checkbox", name: "user[remember_me]"}/
                    Remember Me?
              .col-md-6.col-sm-6.col-xs-6.text-right
                %a.reset_pass{:href => new_user_password_path} Lost your password?
          .clearfix
          .separator
            %p.change_link
              New to site?
              %a.to_register{:href => new_user_registration_path} Create Account
            .clearfix
            %br/
            %div
              %p By registering you agree to Fieldwire's Terms, Privacy Policy &amp; EULA
